@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background:43 21% 94%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 142.1 70.6% 45.3%;
    --primary-foreground: 144.9 80.4% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142.4 71.8% 29.2%;
  }
}

body{
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction:column;
  background-color: var(--background);
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0 250px;

  overflow-x: hidden;
}



/* CSS Button */
.button-74 {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 30px;
  
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-74:hover {
  background-color: #fff;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media screen and (max-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
    font-size:25px;
  }
  body{
    padding: 2%;
  }
}





/* Brands bar */

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100% );
  }
}

.logos {
  overflow: hidden;
  padding: 60px 0;
  background: white;
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  animation: 10s slide infinite linear;
}

.logos-slide img {
  height: 50px;
  margin: 0 40px;
}

.space{
  border-radius: 30% 70% 83% 17% / 30% 60% 40% 70% ;
 position: absolute;
  top: 10%;
  right:10%;
  width: fit-content;
  height: fit-content;
  z-index: -100;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 37%, rgba(0,212,255,1) 100%);
}



.buttonfour {
  user-select: none;
  border-radius: 0.5rem;
  background: linear-gradient(to top right, #1a1a1a, #2a2a2a);
  padding: 0.75rem 1.5rem;
  text-align: center;
  vertical-align: middle;
  font-family: sans-serif;
  font-size: 0.875rem; /* Tamaño de texto equivalente a text-xs en Tailwind */
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;

  &:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }

  &:active {
    opacity: 0.85;
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.5;
    box-shadow: none;
  }
}
.not-found-main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}


.not-found-text {
  display: flex;
  position: absolute;
  top:100px;
  left:100px;
  flex-direction: column;
  gap: 10px;
  text-align: left;
  height: 50%;
  width: 50%;
  padding: 10px;
  border-radius: 20px;
  background-color: #fff;
  justify-content: flex-start;
  align-items: flex-start;
}
